<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ib-aplication-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class IbAplicationApp extends Polymer.Element {
      static get is() { return 'ib-aplication-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'ib-aplication-app'
          }
        };
      }
    }

    window.customElements.define(IbAplicationApp.is, IbAplicationApp);
  </script>
</dom-module>
